# ==========================
# Virtual Environment
# ==========================
.venv/

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Model Files
# ==========================
models/*.pkl
models/*.joblib

# ==========================
# Processed Data
# ==========================
data/processed/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db